@import "https://fonts.google.com/specimen/Outfit:300,400,600";
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 0;
  max-width: 1440px;
  background-color: hsl(217, 54%, 11%);
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

p {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
}

.container {
  max-width: 400px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-items: center;
  background-color: hsl(216, 50%, 16%);
  border-radius: 25px;
}

.card {
  margin: 25px;
}

.equil > img {
  margin-top: 25px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.equil > img:hover {
  color: hsl(215, 51%, 70%);
}
.card > h4 {
  color: hsl(0, 0%, 100%);
}

.coin-detail {
  display: flex;
  width: 100%;
  margin-bottom: 4%;
}
.eth {
  display: flex;
  width: 50%;
  align-items: center;
}
.day {
  display: flex;
  width: 50%;
  align-items: center;
  margin-left: 35%;
}
.eth > img {
  height: 35%;
  margin-right: 5%;
}
.eth > h4 {
  color: hsl(178, 100%, 50%);
}
.day > img {
  height: 30%;
  margin-right: 5%;
}

.footer::before {
  content: " ";
  display: block;
  height: 0.9px;
  width: 100%;
  position: relative;
  top: -5px;
  line-height: 1.5;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 3%;
}
.footer {
  margin-bottom: 10%;
}
.foot-detail {
  display: flex;
  align-items: center;
  margin-bottom: 40%;
}
.foot-detail > img {
  width: 8%;
  height: 8%;
  margin-right: 5%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  #header-img {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}
